*{
    box-sizing: border-box;
}
body{
    margin: 50px 0 50px 0;
    padding:0;
}
.container-main-1,.container-main-2,.container-main-3,.container-main-4,.container-main-5,.container-main-6{
    margin:0 auto;
    width: 80%;
    border:1px solid black;
    text-align:center;
}
.container-main-1{
    margin-top:20px;
}
.container-1,.container-2,.container-3,.container-4,.container-5,.container-6{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    border: 1px solid black;
    padding: 20px;
}
.container-1 div{
    border: 1px solid black;
    padding: 10px;
}
.btn{
    margin-bottom:10px;
}
.container-2 img{
    margin:10px 20px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.7);
}
.container-3 img{
    height:150px;
    width:150px;
}
.container-3 img:hover{
    box-shadow: 0px 10px 50px rgb(23, 25, 151,1);
}
.outputdiv{
    border-top:1px solid black;
}
.outputdiv h4{
    color: orange;
    font-size: 3rem;
}
#clock-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient(to right, #c92814, #d56100, #d49100, #c6bf00, #a8eb12);
    height:60px;
    width:250px;
    border-radius: 10px;
}
#clock{
    font-size: 2rem;
    background-color: black;
    color:white;
    border-radius: 5px;
    height:40px;
    width:230px;
}
